.main {
  min-height: 100vh;
  background-color: var(--color-principal);
  padding-top: var(--spacing-xl);
}

.title {
  text-align: center;
  color: var(--color-content);
  font-size: var(--font-size-xlarge);
}

.main_container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: var(--spacing-md);
  padding: var(--spacing-md) 40rem;
}

.portfolio {
  z-index: 1;
  border-radius: var(--border-radius-md);
  background-color: var(--color-content);
  height: 15rem;
  padding: var(--spacing-sm) var(--spacing-lg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-md);
  width: 100%;
}

.desc_pers,
.img_pers {
  width: 50%; /* Assure que les deux enfants prennent chacun 50% de la largeur */
  height: 100%;
  position: relative;
}

.name {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--color-footer);
}

.fact {
  font-size: var(--font-size-medium);
  color: var(--color-footer);
  font-weight: bold;
}

.pseudo {
  position: absolute;
  bottom: 0;
  font-size: var(--font-size-regular);
  color: var(--color-footer);
  font-weight: bold;
}

.img_pers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_pers img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  outline: var(--spacing-xs) solid var(--color-btn);
  transition: var(--transition-default);
}

@media screen and (max-width: var(--breakpoint-laptop)) {
  .main_container {
    padding: var(--spacing-md) 30rem;
  }
}

@media screen and (max-width: 1100px) {
  .main_container {
    padding: var(--spacing-md) 20rem;
  }
}

@media screen and (max-width: 850px) {
  .main_container {
    padding: var(--spacing-md) 10rem;
  }
}

@media screen and (max-width: var(--breakpoint-mobile)) {
  .main_container {
    padding: var(--spacing-md) var(--spacing-xl);
  }

  .portfolio {
    gap: var(--spacing-xs);
    padding: var(--spacing-xs) var(--spacing-sm);
  }

  .name {
    font-size: 2.7rem;
  }

  .fact {
    font-size: 2.2rem;
  }

  .pseudo {
    font-size: 1.7rem;
  }

  .img_pers img {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 450px) {
  .name {
    font-size: 2.7rem;
  }

  .fact {
    font-size: 2rem;
  }

  .pseudo {
    font-size: 1.5rem;
  }
}

.img_pers img:hover {
  cursor: pointer;
  box-shadow: var(--shadow-lg);
  animation: rotate 1s 1 forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg);
    outline-offset: var(--spacing-xs);
  }
  100% {
    transform: rotate(0deg) scale(1);
    outline-offset: 0;
    box-shadow: var(--shadow-sm);
  }
}

.footer {
  height: 40rem;
  background-color: var(--color-footer);
  color: var(--color-content);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.footer_prin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}

.name_footer {
  font-size: 5rem;
}

.sep {
  width: 50%;
  height: 3px;
  background-color: var(--color-btn);
}

.desc_footer {
  font-size: 2rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social_network {
  text-decoration: none;
  color: var(--color-content);
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.2s;
}

.social_network:hover {
  color: var(--color-btn);
}

.politique {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1rem 3rem;
}

.politique_link {
  color: var(--color-btn);
  font-size: 1.2rem;
}
