html, body {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1080px) {
  .pic-ctn {
    height: 200px;
  }
  .pic-ctn > img {
    left: calc(50% - 50px);
  }
  
}

.pic-ctn {
  position: relative;
  width: 95vw;
  height: 150px;
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-85px);
}

@keyframes display {
  0%, 30%, 100% {
    transform: translateX(-200px);
    opacity: 0;
  }
  10%, 20% {
    transform: translateX(0);
    opacity: 1;
  }
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  animation: display 10s infinite;
  width: 300px;
  height: 200px;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.button {
  background-color: var(--color-btn);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  width: auto;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
}

.color, .text, .description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--color-principal);
  width: 100%;
  height: auto;
}

.description {
  font-size: 35px;
  margin: 24px 16px;
}

.logo_bandeau {
  flex-direction: row;
  width: 200px;
  height: 100px;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #dbd8d8;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.content {
  background-color: rgb(173, 168, 168);
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  max-width: 50rem;
  display: inline-block;
  box-sizing: border-box;
  height: 50rem;
}

.title {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  margin: 12px 8px;
  cursor: pointer;
  border-radius: 12px;
  max-width: 100rem;
  display: inline-block;
  box-sizing: border-box;
  height: 7rem;
}

.desc {
  font-size: 30px;
  margin: 48px 32px;
}

.image_20 {
  width: 20rem;
  height: 70rem;
  display: flex;
  margin: auto;
  transform: translateY(-250px);
}

.image_23 {
  width: 30rem;
  height: 90rem;
  display: flex;
  flex-direction: row;
  transform: translateY(-300px);
}

.triangle{
  width: 35rem;
  height: 35rem;
  display: flex;
  transform: translateY(-250px);
  margin: auto; 
}

.texte {
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 35px;
  font-style: italic;
  color: var(--color-principal);
  line-height: 1.5;
  text-align: center;
  margin: 20px;
}

