.main {
  min-height: 90vh;
  background-color: var(--color-principal);
  padding-top: var(--spacing-xl);
}

.title {
  text-align: center;
  color: var(--color-content);
  font-size: var(--font-size-xlarge);
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md) 40rem;
}

.contact_form {
  padding: var(--spacing-sm);
  background-image: linear-gradient(
    145deg,
    var(--color-content) 0%,
    var(--color-content) 80%,
    var(--color-footer) 80%
  );
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  width: 100%;
}

.form_group {
  margin-bottom: var(--spacing-xs);
}

.form_group label {
  display: block;
  font-size: var(--font-size-regular);
  color: var(--color-footer);
  margin-bottom: 0.5rem;
}

.form_group input,
.form_group textarea {
  width: 100%;
  padding: var(--spacing-xs);
  font-size: var(--font-size-regular);
  border: none;
  border-bottom: 1px solid var(--color-footer);
  background-color: var(--color-content);
  color: var(--color-footer);
  background-color: transparent;
  resize: none;
}

.form_group input:focus,
.form_group textarea:focus {
  outline: none;
  border-color: var(--color-btn);
}

.submit_button {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-regular);
  color: var(--color-content);
  background-color: var(--color-footer);
  border: none;
  border-radius: var(--border-radius-lg);
  cursor: pointer;
  transition: var(--transition-default);
}

.submit_button:hover {
  transform: translateY(-0.2rem);
  box-shadow: var(--shadow-lg);
  background-color: var(--color-btn);
  color: var(--color-footer);
}

@media screen and (max-width: var(--breakpoint-laptop)) {
  .main_container {
    padding: var(--spacing-md) 20rem;
  }
}

@media screen and (max-width: 850px) {
  .main_container {
    padding: var(--spacing-md) 10rem;
  }
}

@media screen and (max-width: var(--breakpoint-mobile)) {
  .main_container {
    padding: var(--spacing-md) var(--spacing-xl);
  }
}
