



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d47a1;
    color: white;
  }

.main {
    padding-top: 5rem;
    background-color: var(--color-principal);
    min-height: 100vh; /* Assure que la section main prend au moins toute la hauteur de la fenêtre */
}


  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
  }

.slogan_projet{
    text-align: center;
    color: var(--color-content);
    font-size: 2rem;
    margin: 2rem;

}


  .projects-grid {
    display: flex;
    flex-direction: column;
    column-gap: 20px; /* Les éléments dans chaque colonne sont empilés verticalement */
    justify-content: center;
    gap: 20px;

  }


.projects-grid--1 {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: end;
  }


.projects-grid--2 {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .project-card {
    background-color: white;
    color: #0d47a1;
    border-radius: 2rem;
    width: 25rem;
    min-height: 7rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
  }

  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  .project-card img {
    max-width: 100%;
    border-radius: 1rem;
  }

  .project-card h3 {
    font-size: 1.5rem;
  }



  @media (max-width: 580px) {
    .container {
      grid-template-columns: 1fr;
    }

    .projects-grid--1, .projects-grid--2 {
      grid-column: 1 / -1;
      align-items: center;
    }

  }