:root {
    --color-header: #2f84eb;
    --color-principal: #1e3a8a;
    --color-btn: #fbbf24;
    --color-footer: #252424;
    --color-content: #f3f4ed;
    --color-block: #5e5e5e;

    /* Tailles de police */
    --font-size-small: 1.2rem;
    --font-size-regular: 1.6rem;
    --font-size-medium: 2rem;
    --font-size-large: 3rem;
    --font-size-xlarge: 4.5rem;

    /* Espacements */
    --spacing-xs: 1rem;
    --spacing-sm: 2rem;
    --spacing-md: 3rem;
    --spacing-lg: 4rem;
    --spacing-xl: 5rem;

    /* Border radius */
    --border-radius-sm: 1rem;
    --border-radius-md: 2rem;
    --border-radius-lg: 3rem;

    /* Box shadows */
    --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 10px 10px rgba(0, 0, 0, 0.2);
    --shadow-lg: 10px 10px 20px rgba(0, 0, 0, 0.2);

    /* Media queries breakpoints */
    --breakpoint-mobile: 520px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1200px;

    /* Transitions */
    --transition-default: all 0.3s;
    --transition-slow: all 0.5s;
}
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  body {
    background-color: var(--color-principal);
    font-weight: 300;
    line-height: 1.1;
    font-family: "Roboto", sans-serif;
    height: auto; /* Permet à la hauteur de s'ajuster */
    min-height: 100vh; /* Garantit une hauteur minimale de la page */
  }

  h1{
    font-family: "Mako", sans-serif;
  }



  h2{
    font-family: "Hind Madurai", sans-serif;
  }

  p{
    font-family: "Montserrat", sans-serif;
  }

  


  
  .header {
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 var(--spacing-md);
    box-shadow: var(--shadow-md);
  }
  
  .title {
    text-align: center;
    color: var(--color-content);
    font-size: var(--font-size-xlarge);
  }
  
  .logo {
    width: var(--spacing-xl);
    height: var(--spacing-xl);
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 35rem;
  }
  
  .list_item {
    font-size: var(--font-size-regular);
    color: var(--color-content);
    transition: var(--transition-default);
  }

  .list_item a{
    text-decoration: none;
    color: var(--color-content);
  }  
  .list_item:hover a{
    color: var(--color-btn);
    transform: scale(1.01);
    cursor: pointer;
  }


  
  @media (max-width: var(--breakpoint-mobile)) {
    .header {
      padding: 0 var(--spacing-sm);
    }
  
    .logo {
      width: var(--spacing-lg);
      height: var(--spacing-lg);
    }
  
    .list {
      width: 25rem;
      justify-content: space-evenly;
    }
  
    .list_item {
      font-size: var(--font-size-small);
      color: var(--color-content);
      transition: var(--transition-default);
    }
  }
  