:root {
    --color-header: #2f84eb;
    --color-principal: #1e3a8a;
    --color-btn: #fbbf24;
    --color-footer: #252424;
    --color-content: #f3f4ed;
    --color-block: #5e5e5e;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  body {
    background-color: var(--color-principal);
    font-weight: 300;
    line-height: 1.1;
    font-family: "Roboto", sans-serif;
    height: auto; /* Permet à la hauteur de s'ajuster */
    min-height: 100vh; /* Garantit une hauteur minimale de la page */
  }
  
  .header {
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 3rem;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.25);
  }
  
  .title {
    text-align: center;
    color: var(--color-content);
    font-size: 4.5rem;
    font-family: "Montserrat", sans-serif;
  
  }
  
  .logo {
    width: 5rem;
    height: 5rem;
  }
  
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 35rem;
  }
  
  .list_item {
    font-size: 1.8rem;
    color: var(--color-content);
    transition: all 0.3s;
  }

  .list_item a{
    text-decoration: none;
    color: var(--color-content);
  }
  
  .list_item:hover a{
    color: var(--color-btn);
    transform: scale(1.01);
    cursor: pointer;
  }


  
  @media (max-width: 520px) {
    .header {
      padding: 0 2rem;
    }
  
    .logo {
      width: 4rem;
      height: 4rem;
    }
  
    .list {
      width: 25rem;
      justify-content: space-evenly;
    }
  
    .list_item {
      font-size: 1.3rem;
      color: var(--color-content);
      transition: all 0.3s;
    }
  }
  